<p>добавление нового продукта</p>
<form action="/prod/add" method="POST">
  <span>name: </span><input type="text" name="name"><br /><br />
  <span>cost: </span><input type="text" name="cost"><br /><br />
  <span>rest: </span><input type="text" name="rest"><br /><br />
  <button type="submit">добавить</button>
</form>